<?xml version="1.0" encoding="utf-8"?>

<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      throwExceptions="true"
      throwConfigExceptions="true">

    <extensions>
        <add assembly="NLog.Extensions" />
        <add assembly="NLog.Targets.ElasticSearch" />
    </extensions>
    <!-- the targets to write to -->
    <targets>
        <!-- write logs to file -->
        <!-- <target xsi:type="File" name="targetFile" -->
        <!--         fileName="C:/Users/stayrony/Projects/CoreLog/logs/nlog-AspNetCore2-all-${shortdate}.json"> -->
        <!-- -->
        <!--     <layout xsi:type="JsonLayout"> -->
        <!--         <attribute name="time" layout="${longdate}" /> -->
        <!--         <attribute name="level" layout="${level:upperCase=true}" /> -->
        <!--         <attribute name="message" layout="${message}" /> -->
        <!--         <attribute name="eventProperties" encode="false"> -->
        <!--             <layout type='JsonLayout' includeAllProperties="true" maxRecursionLimit="2" /> -->
        <!--         </attribute> -->
        <!--     </layout> -->
        <!-- </target> -->
        <!-- -->
         <target name="elastic" xsi:type="BufferingWrapper" flushTimeout="5000"> -->
             <target xsi:type="ElasticSearch"
                     includeAllProperties="true"
                     index="architecture-logs-${date:format=yyyy.MM.dd}"
                     layout="${message}">
             </target>
         </target>

        <target xsi:type="Console" name="targetConsole"
                layout="${date}|${level:uppercase=true}|${message} ${exception}|${logger}|${all-event-properties}" />

        <!-- write to the void aka just remove -->
        <target xsi:type="Null" name="blackhole" />
    </targets>

    <!-- rules to map from logger name to target -->
    <rules>
        <!--Skip Microsoft logs -->
        <logger name="Microsoft.*" writeTo="blackhole" final="true" />

        <!-- <logger name="*" minlevel="Info" writeTo="targetFile" > -->
        <!--     <filters> -->
        <!--         <when condition="equals('${environment:ASPNETCORE_ENVIRONMENT}', 'Development')" action="Ignore" /> -->
        <!--     </filters> -->
        <!-- </logger> -->
        <logger name="*" minlevel="Debug" writeTo="targetConsole" />
        <logger name="*" minlevel="Info" writeTo="ElasticSearch" />
    </rules>
</nlog>